<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic for Product</title>
</head>
<body>
    <h1>Statistic for Product</h1>
    <table>
        <thead>
            <tr>
                <th>Name Product</th>
                <th>Amount of watched lessons</th>
                <th>Watched time</th>
                <th>Amount of students </th>
                <th>Percentage of purchase</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.num_viewed_lessons }}</td>
                    <td>{{ product.total_view_time }}</td>
                    <td>{{ product.num_students }}</td>
                    <td>{{ product.purchase_percentage }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
